@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1910px) {
  .header {
    padding: 26px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 26px 16px;
  }
}
.header_logo {
  margin-right: 50px;
}
@media (max-width: 1910px) {
  .header_logo {
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .header_logo {
    width: 64px;
    margin-right: auto;
  }
}
@media (max-width: 320px) {
  .header_logo {
    width: 48px;
  }
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  border: 1px solid #4c858b;
  border-radius: 50%;
  margin-right: 32px;
  z-index: 4;
}
.burger:hover {
  border: 1px solid #4c858b;
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 1710px) {
  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    right: 0;
    margin-right: -16px;
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .burger {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.burger_line,
.burger_line::before,
.burger_line::after {
  position: absolute;
  background-color: #4c858b;
  width: 22px;
  height: 1px;
}

.burger_line {
  top: 50%;
}

.burger_line::before,
.burger_line::after {
  content: "";
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger_line::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger_line::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger_line.burger-active {
  height: 0;
}

.burger_line.burger-active::after,
.burger_line.burger-active::before {
  background-color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

.burger_line.burger-active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger_line.burger-active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1710px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 58px;
}
@media (max-width: 1910px) {
  .navmenu {
    margin: 0;
  }
}
@media (max-width: 1710px) {
  .navmenu {
    display: none;
  }
}
.navmenu_item {
  padding-right: 37px;
}
.navmenu_link {
  text-decoration: none;
  color: #4c858b;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 1710px) {
  .navmenu_link {
    font-size: 46px;
    text-shadow: 2px 3px 4px #4c858b;
  }
}
@media (max-width: 900px) {
  .navmenu_link {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .navmenu_link {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .navmenu_link {
    font-size: 18px;
  }
}
.navmenu_link:hover {
  color: #215359;
  border-bottom: 1px solid #215359;
}

@media (max-width: 1710px) {
  .navmenu {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(203, 207, 203, 0.9);
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu_active {
  left: 0;
}

.contact-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1710px) {
  .contact-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1050px) {
  .contact-menu {
    display: none;
  }
}
.contact-menu_link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000;
  text-decoration: none;
}
.contact-menu_link:hover {
  color: #ea6628;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mark-span {
  color: #4c858b;
}

.red-link {
  color: #e33e54;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px dotted #e33e54;
  letter-spacing: 1px;
  margin-left: 75px;
  margin-right: 56px;
}
@media (max-width: 1910px) {
  .red-link {
    margin-left: 37px;
    margin-right: 31px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 48px;
}
.social_img {
  margin-right: 12px;
}
.social_img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.groop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 1050px) {
  .groop {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .groop {
    margin-right: 24px;
  }
}
@media (max-width: 320px) {
  .groop {
    margin-right: 0;
  }
}
.groop_btn {
  width: 56px;
  height: 56px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}
.groop_btn:hover {
  border: 1px solid #000;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 440px) {
  .groop_btn:nth-child(-n+2) {
    display: none;
  }
}
@media (max-width: 320px) {
  .groop_btn {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.groop::before {
  content: "10";
  width: 25px;
  height: 25px;
  right: 10px;
  border-radius: 50%;
  background-color: #e33e54;
  position: absolute;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  z-index: 2;
}

.main {
  max-width: 1231px;
  margin: 0 auto;
}
@media (max-width: 1550px) {
  .main {
    padding: 0 16px;
  }
}

.process_link {
  color: #e33e54;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.heading-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 41px;
  letter-spacing: 4px;
}
@media (max-width: 768px) {
  .heading-title {
    line-height: 55px;
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 54px;
  }
}
@media (max-width: 320px) {
  .heading-title {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1px;
    margin-bottom: 9px;
    margin-top: 26px;
  }
}

.breadcrumbs {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 0;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .breadcrumbs {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs {
    margin-bottom: 17px;
  }
}
.breadcrumbs_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.breadcrumbs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumbs_item::after {
  content: "›";
  color: #4c858b;
  font-weight: bold;
  margin: 0 7px;
}
.breadcrumbs_link {
  text-decoration: none;
  color: #4c858b;
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}
.breadcrumbs_link:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  opacity: 1;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .paragraph {
    margin-top: 60px;
  }
}
@media (max-width: 320px) {
  .paragraph {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    margin-top: 0px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  width: 112%;
}
.content_list {
  width: 100%;
}
@media (max-width: 1550px) {
  .content {
    width: auto;
  }
}
@media (max-width: 768px) {
  .content {
    width: auto;
    margin-top: 17px;
  }
}
.content_img {
  position: relative;
}
@media (max-width: 1100px) {
  .content_img {
    display: none;
  }
}
.content_text {
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
  letter-spacing: 1.5px;
}
@media (max-width: 1230px) {
  .content_text {
    font-size: 30px;
    line-height: 52px;
  }
}
@media (max-width: 320px) {
  .content_text {
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0;
  }
}

.img-flue {
  position: absolute;
  z-index: 1;
  top: -31px;
  left: 23%;
}
@media (max-width: 1550px) {
  .img-flue {
    -o-object-fit: cover;
       object-fit: cover;
    width: 50%;
    top: 0;
  }
}

@media (max-width: 1550px) {
  .img-bcg {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

.img-dotted1 {
  position: absolute;
  left: 19%;
}

.img-dotted2 {
  position: absolute;
  right: 8%;
  top: 77%;
}
@media (max-width: 1550px) {
  .img-dotted2 {
    top: 50%;
    right: 20%;
  }
}

.img-triangle1 {
  position: absolute;
  top: 26%;
  left: 15px;
}

.img-triangle2 {
  position: absolute;
  top: 9%;
  right: 0;
}

@media (max-width: 1550px) {
  .img-dotted1,
.img-dotted2 {
    -o-object-fit: cover;
       object-fit: cover;
    width: 30px;
  }
}

.is-red-text {
  color: #e33e54;
  font-weight: 800;
  font-size: 50px;
  line-height: 58px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .is-red-text {
    font-size: 40px;
    line-height: 52px;
  }
}
@media (max-width: 320px) {
  .is-red-text {
    font-size: 30px;
    line-height: 37px;
  }
}

.text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  list-style-image: url(../img/list-style.svg);
  padding-left: 42px;
}
@media (max-width: 768px) {
  .text-list {
    margin-top: 13px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 320px) {
  .text-list {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
  }
}
.text-list_item {
  margin-bottom: 24px;
  width: 96%;
  letter-spacing: 1px;
  padding-left: 12px;
}
@media (max-width: 768px) {
  .text-list_item {
    width: 100%;
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  position: relative;
  letter-spacing: 2px;
  padding-top: 15px;
  margin-top: 90px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 31px;
    margin-bottom: 8px;
    word-spacing: -7px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}
.title::after {
  content: "";
  width: 74px;
  height: 5px;
  background-color: #e33e54;
  position: absolute;
  top: 0;
  left: 0;
}

.number-list {
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  counter-reset: num;
  margin: 0 0 0 70px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 83px;
     -moz-column-gap: 83px;
          column-gap: 83px;
}
@media (max-width: 768px) {
  .number-list {
    font-size: 14px;
    line-height: 15px;
    -webkit-column-gap: 139px;
       -moz-column-gap: 139px;
            column-gap: 139px;
  }
}
@media (max-width: 440px) {
  .number-list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

.number-text {
  position: relative;
  letter-spacing: 1px;
  padding: 15px 0px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .number-text {
    margin-left: -32px;
  }
}
.number-text:before {
  content: counter(num);
  counter-increment: num;
  position: absolute;
  top: 0;
  left: -70px;
  color: #e33e54;
  opacity: 0.2;
  font-weight: 700;
  font-size: 70px;
  line-height: 103px;
}
@media (max-width: 768px) {
  .number-text:before {
    font-size: 50px;
    line-height: 61px;
    top: 26px;
    left: -43px;
  }
}

.info_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 94px;
}
@media (max-width: 768px) {
  .info_title {
    font-size: 40px;
    line-height: 30px;
    letter-spacing: -3px;
    margin-top: 21px;
  }
}
@media (max-width: 680px) {
  .info_title {
    line-height: 40px;
  }
}
@media (max-width: 440px) {
  .info_title {
    font-size: 22px;
    line-height: 30px;
  }
}
.info_text {
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin-left: -15px;
  margin-top: 14px;
}
@media (max-width: 768px) {
  .info_text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
.info_cards {
  margin-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .info_cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 51px;
    margin-left: -31px;
  }
}

.info .title {
  margin-top: 79px;
  margin-bottom: 49px;
}
@media (max-width: 768px) {
  .info .title {
    margin-top: 47px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .info .paragraph {
    margin-top: 37px;
  }
}

.card {
  width: 400px;
}
@media (max-width: 1100px) {
  .card {
    width: 334px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    letter-spacing: 0;
    margin-left: 40px;
    margin-bottom: 26px;
  }
}
.card_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 28px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .card_title {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.card_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .card_text {
    font-size: 14px;
    line-height: 26px;
  }
}

.is-red {
  color: #e33e54;
}

.info .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .info .social {
    margin-top: 23px;
    margin-left: 45px;
  }
}

.info .social_img {
  margin-left: 27px;
}

.info .social_img svg path {
  fill: #ea6628;
}

.form-content {
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  max-width: 866px;
  padding: 53px 52px;
  margin: 40px auto;
}
@media (max-width: 768px) {
  .form-content {
    text-align: center;
    margin: 29px 0;
    width: auto;
    padding: 53px 0;
  }
}
@media (max-width: 320px) {
  .form-content {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
}
.form-content_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.4px;
}
@media (max-width: 320px) {
  .form-content_title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
  }
}
.form-content_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  letter-spacing: 1px;
}
@media (max-width: 320px) {
  .form-content_text {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
  }
}

.is-orange {
  color: #ea6628;
  font-weight: 700;
}

.form * {
  outline: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form_input {
  width: 240px;
  border: 1px solid #e5e5e5;
  padding: 25px 17px;
  letter-spacing: 1px;
  margin-right: 16px;
  cursor: pointer;
}
.form_input:hover {
  -webkit-box-shadow: 0 0 15px blue;
          box-shadow: 0 0 15px blue;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form_input:focus {
  -webkit-box-shadow: 0 0 15px #4c858b;
          box-shadow: 0 0 15px #4c858b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .form_input {
    width: 340px;
    margin-bottom: 25px;
    padding: 18px 15px;
    margin-right: 0;
  }
}
@media (max-width: 440px) {
  .form_input {
    margin: 0;
    margin-bottom: 14px;
    width: 290px;
  }
}
.form_btn {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #4c858b;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
.form_btn:hover {
  background-color: #ea6628;
  color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.error {
  -webkit-box-shadow: 0 0 15px #e33e54;
          box-shadow: 0 0 15px #e33e54;
}

.video_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video_img1 {
  position: absolute;
  top: 13%;
  left: 30px;
  z-index: -1;
}
.video_img2 {
  position: absolute;
  top: -9%;
  right: 47px;
  z-index: -1;
  width: 630px;
}

@media (max-width: 768px) {
  .video img {
    display: none;
  }
}

@media (max-width: 730px) {
  .video_wrapper iframe {
    height: 300px;
  }
}
@media (max-width: 400px) {
  .video_wrapper iframe {
    height: 200px;
  }
}

.video .title {
  margin-top: 114px;
  margin-bottom: 65px;
}

.video_wrapper .img-dotted1 {
  left: 87%;
  top: -13%;
  position: absolute;
}

.video_wrapper .img-dotted2 {
  left: 8%;
  top: 51%;
  position: absolute;
}

.portfolio .title {
  margin-bottom: 66px;
  margin-top: 0px;
  word-spacing: -8px;
}

.gallary {
  width: 1368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 45px;
  margin-left: -6px;
}
@media (max-width: 1550px) {
  .gallary {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .gallary {
    width: 708px;
  }
}
@media (max-width: 750px) {
  .gallary {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.gallary_img {
  position: relative;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 768px) {
  .gallary_img {
    width: 226px;
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}
.gallary_wrapper {
  margin-right: 3px;
  margin-bottom: 2px;
  position: relative;
  border: 1px solid #4c858b;
}
.gallary_wrapper::after, .gallary_wrapper::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: inherit;
  z-index: 3;
}
.gallary_wrapper::before {
  bottom: 11px;
  left: 0;
  border-width: 0 0 6px 6px;
}
.gallary_wrapper::after {
  top: -2px;
  right: 0px;
  border-width: 6px 6px 0 0;
}
.gallary_wrapper:hover::before {
  bottom: 5px;
  left: 2px;
  border-width: 0 0 6px 6px;
}
.gallary_wrapper:hover::after {
  top: -2px;
  right: -4px;
  border-width: 6px 6px 0 0;
}
.gallary_wrapper:hover::before, .gallary_wrapper:hover::after {
  width: calc(100% - 5px);
  height: calc(100% - 9px);
}

.footer {
  background-color: #215359;
  margin-top: 111px;
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 950px) {
  .footer_content {
    display: none;
  }
}
.footer_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  letter-spacing: 1px;
}
@media (max-width: 950px) {
  .footer_title {
    display: none;
  }
}

.container {
  margin: 0 auto;
  width: 1231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 89px 0 65px;
}
@media (max-width: 1550px) {
  .container {
    width: 100%;
    padding: 60px 40px;
  }
}
@media (max-width: 950px) {
  .container {
    padding: 30px 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 950px) {
  .container {
    padding: 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav {
  list-style-type: none;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  margin-top: 17px;
}
@media (max-width: 1550px) {
  .footer-nav {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.footer-nav_items {
  margin-bottom: 19px;
}
.footer-nav_links {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  letter-spacing: 1px;
}
.footer-nav_links:hover {
  text-shadow: 2px 3px 4px #fff;
}

.is-green {
  color: #4c858b;
}

.contact {
  width: 26%;
}
.contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}
@media (max-width: 950px) {
  .contact_item {
    display: none;
  }
}
.contact_img {
  margin-right: 5px;
}
.contact_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer .social {
  margin-top: 28px;
}
@media (max-width: 950px) {
  .footer .social {
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .social_img {
  margin-right: 40px;
}
@media (max-width: 500px) {
  .footer .social_img {
    margin-right: 20px;
  }
}