include config.pug
footer.footer
  .container 
    .footer_content
      p.footer_title КАТАЛОГ
      +footer_content([{'title': 'Дымоходы ', 'href': '#'}, 
          
          {'title': 'Дымососы ', 'href': '#'}, 
          {'title': 'Печи для дома ', 'href': '#'}, 
          {'title': 'Печи для бани ', 'href': '#'}, 
          {'title': 'Камины ', 'href': '#'}, 
          {'title': 'Силикат кальция ', 'href': '#'}, 
          {'title': 'Котлы ', 'href': '#'},
          {'title': 'Ещё ', 'href': '#'},
          ])
    .footer_content
      p.footer_title ИНФОРМАЦИЯ
      +footer_content([{'title': 'Каталог ', 'href': '#'}, 
          
          {'title': 'Установка и монтаж', 'href': '#'}, 
          {'title': 'Отзывы ', 'href': '#'}, 
          {'title': 'Ликвидация товара', 'href': '#'}, 
          {'title': 'Полезное', 'href': '#'}, 
          {'title': 'Контакты', 'href': '#'}, 
          {'title': 'Оплата и доставка', 'href': '#'},
          ])
    .contact
      p.footer_title ВРЕМЯ РАБОТЫ
      .contact_item
        img.contact_img(src="img/wall-clock1.svg", alt="time working")
        p.contact_text <span class="is-green">пн-пт</span> 9:00 – 20:00 <span class="is-green"> сб-вс</span> 10:00 – 18:00
      .contact_item
        img.contact_img(src="img/placeholder1.svg", alt="location")
        p.contact_text г. Санкт - Петербург ,ул. Тамбасова д.7
      include social.pug