section.portfolio
    .container 
      h2.title
      p.paragraph 
      .gallary 
        img(src="..//../img/gallary/img.png", alt="", srcset="")
        img(src="..//../img/gallary/img1.png", alt="", srcset="")
        img(src="..//../img/gallary/img3.png", alt="", srcset="")
        img(src="..//../img/gallary/img4.png", alt="", srcset="")
        img(src="..//../img/gallary/img5.png", alt="", srcset="")
        img(src="..//../img/gallary/img6.png", alt="", srcset="")
        img(src="..//../img/gallary/img7.png", alt="", srcset="")
        img(src="..//../img/gallary/img8.png", alt="", srcset="")