section.video 
      h2.title Видео об установке
      p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .video_wrapper 
        img.video_img1(src="img/orange.svg", alt="icon")
        img.video_img2(src="img/orange2.svg", alt="icon")
        img.img-dotted2(src="img/dotted.svg", alt="image")
        img.img-dotted1(src="img/dotted.svg", alt="image")
        
       
       
        <iframe width="771" height="438" src="https://www.youtube.com/embed/c-iJkiR5Vag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>