section.process
    .container
      h1.heading-title Монтаж дымоходов
      .breadcrumbs
        +breadcrumbs([{'title': 'Главная ', 'href': 'index.html'}, 
          {'title': 'Монтаж дымоходов', 'href': '#'}])
      p.paragraph В <a class=" process_link" href="#">Дымоход.ру</a>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
      .content 
        .content_item 
          p.content_text Lorem ipsum dolor sit amet <br><span class="is-red-text" Lorem ipsum</span>
          ul.text-list 
            li.text-list Доступные цены
            li.text-list Собственное производсвто  Дымоходов
            li.text-list Выполнение необходимых работ, связанных с установкой камина, печи, котла
            li.text-list Гарантия (от трёх до десяти лет)
            li.text-list Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li.text-list Только русские квалифицированные специалисты
            li.text-list Устанавливаем любые дымоходы всех производителей
        .content_item
        .image-wrapper 
          img(src="img/Blob.svg", alt="image")
          img(src="img/image 3.png", alt="image")
      h2.title Процесс выполнения монтажа
      ol.number-list 
        li.number-text Рассчёт предварительной заявки
        li.number-text Замер объекта нашим инженером
        li.number-text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
        li.number-text Изготовление Дымохода, покраска (если требуется)
        li.number-text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
        li.number-text Гарантийное обслуживание по соответствующем сроку