doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title title 
    meta(name="viewport" content="width=device-width, initial-scale=1.0" )
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href="css/style.css" rel="stylesheet")
  body
    main.mounting
      include includes/header.pug
      include includes/section-progress.pug
      include includes/section-info.pug
      include includes/section-video.pug
      include includes/section-portfolio.pug

    
     
         
      

 
         
  
       
